# Auto detect text files and perform LF normalization
* text=auto

# TypeScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

# Archive files
*.zip binary
*.tar binary
*.7z binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Documents
*.pdf binary